@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

:root {
    --button: #8257E5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Manrope", sans-serif;
    z-index: 1;
}

html {
    font-size: 62.5%;
}

body {
    background-color: black;
    
}

.nav-ul {
    gap: 3.2rem;
}

.ul-li {
    color: white;
    list-style: none;
    font-size: 1.4rem;
}

.flex {
    display: flex;
}

.header {
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
    gap: 14rem;

    height: 5rem;

    margin-inline: auto;
}

.header-button {
    padding: 1.1rem 3.8rem;
    height: 3.7rem;
    width: 17.2rem;
    border: 1px solid #8257E5;
    border-radius: .6rem;

    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    background-color: black;
}

main {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.title {
    color: white;
    font-size: 8rem;
}

.subtitle {
    font-size: 8rem;
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

.coffees {
    width: 80rem;
}

.blur {
    position: fixed;
    pointer-events:none;
}

.right, .left{
    z-index: 1;
}

.right {
    top: -30%;
    left: 70%;
}