@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(67.08deg, #1E46A3 0%, #000000 48.94%, #C12A23 99.97%);
    background-repeat: no-repeat;

    height: 100vh;

    font-family: "Poppins", sans-serif;
}

.main {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    margin-bottom: 30px;
}

button {
    padding: 5px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 220px;

    font-family: "Poppins";
    font-weight: bolder;
    background-color: #E9E6E3;
    border: none;
    border-radius: 8px;
    font-size: 14px;

    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
}

.button-instruction {
    color: white;
    text-align: center;
}

.movieInfos {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;

    width: 700px;
    margin-bottom: 40px;

    color: white;
}
