<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../partials/head.ejs'); %>
    <body class="container">
        <main class="jumbotron">
            <h3 align="center">Erro 404!</h3>
            <h1 align="center">Página não encontrada</h1>
            <h2 align="center"><a href="/">Voltar para o inicio</a></h2>
        </main>
    </body>
</html>