<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../partials/head'); %>
    
    <body class="container">
        <%- include('../partials/header'); %>
        <main>
            <div class="jumbotron">

                <h1>Sobre</h1>
                <p>Aprendi!</p>
            </div>
        </main>
        <%- include('../partials/footer'); %>
    </body>
</html>
